body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #101427;
	background-image: url('../media/GbKC3XlW8AAXqSq.c9f35b210e94c1ca15d4.png');
	background-position: 10 10;
	background-repeat: no-repeat;
	color: #fff;
}

.fixed-chat {
	background-color: #333;
	border: 1px solid #333;
	position: fixed;
	bottom: 0;
	box-shadow: 1px 5px 10px #333;
	right: 40px;
	border-radius: 5px 5px 0px 0px;
	width: 650px;
	height: 550px;
	overflow: auto;
}

.panel-chat {
	height: 550px;
	position: relative;
	text-align: left;
}

.panel-chat .header-chat input {
	padding: 5px;
	border: 1px solid #333;
	background-color: #222;
	color: #fff;
}

.panel-chat .header-chat {
	border-bottom: 1px solid #333;
	/* dark blue border */
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	right: 0;
	background-color: #222;
}

.panel-chat .body-chat {
	padding: 50px 10px;
}

.panel-chat .message-chat input[type="submit"] {
	position: absolute;
	right: 20px;
	border: 1px solid #333;
	top: 19px;
	padding: 5px 20px;
	background-color: #333;
	color: #fff;
}

.panel-chat .message-chat input[type="text"] {
	width: calc(100% - 30px);
	padding: 15px;
	border: 1px solid #333;
	background-color: #222;
	color: #fff;
}

.panel-chat .message-chat {
	position: fixed;
	padding: 10px;
	bottom: 0;
	width: 640px;
	right: 35px;
	background-color: #1a1d23;
}

.info-box {
	position: fixed;
	bottom: 0px;
}

.box-auth {
	position: relative;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px;
	width: 400px;
	margin: 0 auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-auth input[type="text"],
.box-auth input[type="password"] {
	display: block;
	width: 90%;
	height: 40px;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.box-auth input[type="text"]:focus,
.box-auth input[type="password"]:focus {
	border-color: #aaa;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.boxAuthButton {
	width: 90%;
	padding: 12px 16px;
	margin-bottom: 12px;
	border: none;
	border-radius: 8px;
	background-color: #337ab7;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}

.boxAuthButton:hover {
	background-color: #23527c;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
	.box-auth {
		width: 240px;
	}
}